<div class="row">
  <aside class="span4">
    <section>
      <h1>
       My Properties 
      </h1>
    </section>
  </aside>

  <div class="span8">
      <ol>
        <%= render @properties %>
      </ol>
      <%= will_paginate @properties %>
  </div>
</div>